.container {
  max-width:960px;
  padding:90px 30px 0;
  margin:0 auto;
  position:relative;
}
a{
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
.wiki-header {
  z-index:999;
  position:fixed;
  top:0;
  width:100%;
  height:80px;
  background:#fff;
  margin-left:-30px;
}
.wiki-header a {
  color:#fff;
}
.wiki-header a:hover {
  color:#006400;
}
.wiki-header img {
  margin-top:30px;
  width:270px;
}
.wiki-header span {
  position:absolute;
}
.articleContent {
  width:95%;
  margin:40px auto 0;
}
.wikiSelector {
  position:fixed;
  top:90px;
}
.wikiSelector select {
  width:95%;
}
.wikiAside {
  width: 220px;
  border-left: 1px solid lightgrey;
  float:right;
  padding-left:20px;
}
.searchBar {
  margin-top:10px;
  margin-bottom:25px;
}
.articlesList ul {
  list-style: none;
  margin-left: 0;
  height:82vh;
  overflow-y: scroll;
}

@media (max-width:700px) {
  .wiki-header, .wiki-selector {
    text-align:center;
  }
  .wiki-header span {
    left:50%;
    top:60px;
    transform: translateX(-50%);
  }
}
@media (min-width:701px) {
  .wiki-header span {
    margin-left:10px;
    top:40px;
  }
  .articleContent {
    width:auto;
    padding-right:30px;
    height:88vh;
    overflow-y: scroll;
    margin-top:0;
  }
}